* {
  padding: 0;
  margin: 0;
}
$colorTheme: #282c34; //#282c34
$navColor: darken($colorTheme, 5%);
.block {
  background-color: $colorTheme;
  min-height: 100vh;

  section {
    display: flex;
    color: white;
    height: 95vh;
  }
  footer {
    background-color: $navColor;
    min-height: 5vmin;
  }
}
