@import "../../../index.scss";

$navColor: darken($main-color, 5%);

nav {
  min-height: $nav-height;
  background-color: $navColor;
  display: flex;
  width: 100%;
  flex-direction: row;
  .profile {
    align-self: flex-start;
    display: flex;
    cursor: pointer;
    text-align: center;
    height: inherit;
    &-picture {
      display: flex;
      margin: $nav-height * 0.05 10px;
      img {
        border-radius: 50%;
        margin: auto;
        width: $nav-height * 0.9;
      }
    }
    &-name {
      align-self: center;
      padding: $nav-height/4 4vh $nav-height/4 2vh;
      color: white;
    }
    &:hover {
      background-color: lighten($navColor, 25%);

      .profile-name {
        color: aqua;
        filter: brightness(0.8);
      }
    }
  }
  .nav-list {
    width: 60%;
    align-self: flex-end;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-flow: row nowrap;
    box-sizing: border-box;
    text-align: center;
    justify-content: flex-end;
    a {
      flex-grow: 1;
      display: flex;
      min-height: $nav-height;
      padding: $nav-height/4 5vh;
      text-decoration: none;
      vertical-align: middle;
      height: 100%;
      color: white;
      span {
        width: 100%;
        align-self: center;
        i {
          margin-left: 10px;
        }
      }

      &:hover {
        background-color: lighten($navColor, 25%);

        color: aqua;

        filter: brightness(0.8);
      }
    }
    ::selection {
      background: rgba(white, 0.3);
    }
  }
}
@media (max-width: 1000px) {
  nav {
    .nav-list {
      a {
        padding: $nav-height/4 1vh;
      }
    }
  }
}
@media (max-width: 660px) {
  nav {
    .nav-list {
      display: none;
    }
  }
}
