@import "../../../index.scss";

$navColor: darken($main-color, 5%);

nav {
  min-height: $nav-height;
  background-color: $navColor;
  display: flex;

  width: 100%;

  ul {
    min-height: $nav-height;
    margin-right: $nav-height/4;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-flow: row nowrap;
    box-sizing: border-box;
    list-style: none;
    li {
      padding-top: $nav-height/4;
      height: 100%;
      a {
        min-height: $nav-height;
        padding: $nav-height/4 40px;
        text-decoration: none;
        vertical-align: middle;
        height: 100%;
        color: white;
        i {
          margin-left: 10px;
        }
      }

      &:hover {
        background-color: lighten($navColor, 25%);
        a {
          color: aqua;
        }
        filter: brightness(0.8);
      }
    }
  }
}
